<div class="container px-5 px-sm-0">
  <div class="row">
   <div class="col-md-3">
    <h4><%= @customer.first_name %>
        <%= @customer.last_name %>
        さんの詳細画面
    </h4>
   <div class="col-md-9">
    <p></p>
    <p>会員ID  <%= @customer.id %></p>
    <p>氏名 <%= @customer.first_name %>
            <%= @customer.last_name %></p>
    <p>フリガナ <%= @customer.first_name_kana %>
                <%= @customer.last_name_kana %></p>
    <p>郵便番号 <%= @customer.postal_code %></p>
    <p>住所 <%= @customer.address %></p>
    <p>電話番号 <%= @customer.telephone_number %></p>
    <p>メールアドレス <%= @customer.email %></p>
    <p>会員ステータス
    <% if @customer.is_deleted == true %>
          有効
        <% elsif @customer.is_deleted == false %>
          退会
        <% end %>
    </p>

 <%= link_to "編集する", edit_admin_customer_path(@customer.id),class:"btn btn-sm btn-success" %>
 <%= link_to "注文履歴一覧を見る", admin_root_path,class:"btn btn-sm btn-success" %>
   </div>
  </div>
 </div>