<div class="container">
 <div class="row">
  <div class="col-md-12">
   <h4 class= "mt-3 mb-5">注文履歴一覧</h4>
    <table class="table table-bordered">
      <thead></thead>
       <tbody>
        <tr>
         <th>注文日</th>
         <th>配送先</th>
         <th>注文商品</th>
         <th>支払い金額</th>
         <th>ステータス</th>
         <th>注文詳細</th>
        </tr>
         <% @orders.each do |order| %>
        <tr>
         <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
         <td>〒<%= order.postal_code %>
               <%= order.address %>
               <%= order.name %>
         </td>
         <td><% order.order_ditails.each do |ditail| %>
             <%= ditail.item.name %>
             <% end %>
         </td>
         <td><%= order.total_payment + order.delivery_charge %></td>
         <td><%= Order.statuses_i18n[order.status] %></td>
        <td>
         <%= link_to "表示する",order_path(order.id),class:"btn btn-primary" %>
        </td>
        </tr>
        <% end %>
     </tbody>
    </table>
   </div>
  </div>
 </div>

